/docs/licenses/SHA2-MIT.txt text eol=lf
/docs/licenses/SHA2-APACHE-2.0.txt text eol=lf
/docs/licenses/THISERROR-MIT.txt text eol=lf
/docs/licenses/THISERROR-APACHE-2.0.txt text eol=lf
/docs/licenses/BASE64-MIT.txt text eol=lf
/docs/licenses/BASE64-TEMPFILE-APACHE-2.0.txt text eol=lf
/docs/licenses/IMAGE-MIT.txt text eol=lf
/docs/licenses/IMAGE-APACHE-2.0.txt text eol=lf
/docs/licenses/QUICK-XML-MIT.txt text eol=lf
/docs/licenses/TEMPFILE-MIT.txt text eol=lf
/docs/licenses/ZIP-MIT.txt text eol=lf
/docs/licenses/EPUBCHECK-5.3.0-BSD-3-CLAUSE.txt text eol=lf
/patches/typie/*.patch text eol=lf
/packages/typie-runtime/browser/*.d.ts text eol=lf
