/* Pretendard v1.3.9 · SIL Open Font License 1.1. See docs/licenses. */
@font-face {
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 45 920;
  font-display: swap;
  src: url("./assets/fonts/PretendardVariable.woff2") format("woff2");
}
